<% @listings.each do |listing| %>
  <p>
    <% if listing.attached_picture.attached? %>
      <img src="<%= url_for(listing.attached_picture) %>" alt="image" size="70" height="70">
    <% end %>
    <b><%= listing.title %> </b>(<%= link_to listing.category.name, url_for(action: 'index', controller: 'listings', category: listing.category.id, search_tag: @search_tag) %>) <br/>
    <i><%= localize(listing.created_at, :format => :long) %></i> <br/>
    <%= listing.description %> <br/>
    <%= listing.price %> €
    <%= link_to('contact'.html_safe, "/listings/contact/#{listing.id}", 'data-popup' => true, :class => "button_class", :onclick => "windows.open(this.href,'contact', 'height=800, width=500'); return false") %>
    &nbsp;&nbsp;&nbsp;
    <%= form_tag "/listings/new/#{listing.id}", method: "delete" do %>
      <input type="submit" value="Delete" />
    <% end %>
    <br/>
  </p>
<% end %>