<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <%= form_tag "/#{I18n.locale}/listings/new", method: "post", :multipart=>true do %>
        <p>
          <label for="title"><%= t("listings.show.title") %> * : </label>
          <input type="text" name="title" maxlength="255" required>
        </p>
        <p>
          <label for="category_id"><%= t("listings.show.category") %> * : </label>
          <select name="category_id" required>
            <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
          </select>
        </p>
        <p>
          <label for="description"><%= t("listings.show.description") %> * : </label>
          <input type="text" name="description" required>
        </p>
        <p>
          <label for="attached_picture"><%= t("listings.show.picture") %> * : </label>
          <%= file_field_tag :attached_picture, :required => true %>
        </p>
        <p>
          <label for="price"><%= t("listings.show.price") %> * : </label>
          <input type="number" name="price" required>
        </p>
        <input class="btn btn-dark"  type="submit" value=<%= t("listings.show.save") %>>
      <% end %>
      <a class="btn btn-primary" href="/<%= I18n.locale %>/listings"><%= t("listings.show.toList") %> </a>
    </div>
  </div>
</div>