<div class="container ml-auto">
  <a class="btn btn-info" href="/<%= I18n.locale %>/account/contacts"><%= t("users.my_contacts") %></a>
  <a class="btn btn-info" href="/<%= I18n.locale %>/account/messages"><%= t("users.my_messages") %></a>&nbsp;
  <a class="btn btn-info" href="/<%= I18n.locale %>/account/user"><%= t("users.my_profile") %></a>
</div>


<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <table style="width:75%" align="center">
        <tr>
          <th><%= t("users.image") %></th>
          <th><%= t("users.price") %></th>
          <th><%= t("users.date") %></th>
          <th><%= t("users.message") %></th>
        </tr>
        <% @msg.each do |m| %>
          <tr>
            <td>
              <% if m.listing.attached_picture.attached? %>
                <img src="<%= url_for(m.listing.attached_picture) %>" alt="image" size="70" height="70" align="center">
              <% end %>
            </td>
            <td><%= m.listing.price %></td>
            <td><%= m.created_at %></td>
            <td><%= m.content %></td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>