<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1><%= t("users.signup.sign") %></h1>
      <%= form_tag "/#{I18n.locale}/users/sign_up", method: "post" do %>
        <input type="email" name="email" placeholder=<%= t("users.signup.email") %> required><br/>
        <input type="text" name="first_name" placeholder=<%= t("users.signup.f_name") %> required><br/>
        <input type="text" name="last_name" placeholder=<%= t("users.signup.l_name") %> required><br/>
        <input type="password" name="password" minlength="6" placeholder="<%= t("users.signup.password1") %>" required><br/>
        <input type="password" name="password_conf" minlength="6" placeholder="<%= t("users.signup.password2") %>" required><br/>
        <input class="btn btn-dark" type="submit" value=<%= t("users.signup.signup") %> >
      <% end %>
      <a class="btn btn-primary" href="/<%= I18n.locale %>/users/sign_in"><%= t("users.signup.login") %></a>
    </div>
  </div>
</div>